@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: genshinFont;
  src: url(Assets/zh-cn.ttf);
}

body {
  font-family: genshinFont;
  color: #333;
  line-height: 1.6;
  margin: auto;
}

a {
  text-decoration: none;
  color: #333;
}

p {
  margin: 10px 0;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  width: 100%;
  height: auto;
  padding: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  background: 0 0;
}

.navbar li {
  margin: 0 15px;
}

.navbar img {
  width: 10rem;
  height: auto;
}

.navbar a {
  color: #fff;
  text-shadow: 0 4px 4px #000;
}

.active-navbar-main,
.navbar a:hover {
  padding-top: 10px;
  border-top: 2px solid #fff;
}

.register {
  display: flex;
  justify-content: right;
  align-items: center;
}

.profile-picture-container {
  width: 50px;
  text-align: center;
  padding: 10px;
}

.profile-picture {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.navbar .toggle-btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.dropdown-menu.open {
  /* display: none; */
  height: 240px;
}

.menu a:hover {
  padding-top: 10px;
  border-top: 2px solid #fff;
}

.navbar-about .toggle-btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.main-page-characters {
  display: flex;
  flex-direction: column;
}

.main-page-header h1 {
  text-align: center;
  color: #fff;
  font-weight: 100;
  font-size: 48px;
  text-shadow: 0 4px 4px #000;
}

.region-nav {
  display: flex;
  padding-top: 50px;
  row-gap: 50px;
}

.region-nav ul li a {
  color: #fff;
  text-shadow: 0 4px 4px #000;
}

.main-page-header-responsive {
  display: none;
  justify-content: center;
}

.main-page-header-responsive h1 {
  color: #fff;
  font-weight: 100;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  float: none;
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  text-shadow: 0 0 10px gold, 0 0 20px #b22222, 0 0 40px pink, 0 0 80px red;
  will-change: filter, color;
  filter: saturate(60%);
}

.nonactive {
  padding-top: 40px;
}

.nonactive a {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding-left: 70px;
}

.nonactive a:hover {
  animation: text-animation;
  animation-duration: 1s;
}

.main-page-content {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.mondstat-char {
  display: flex;
  justify-content: right;
}

.mondstat-char-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mySlide {
  display: none;
  animation: char-animation;
  animation-duration: 0.5s;
}

@keyframes char-animation {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.1;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

@keyframes text-animation {
  0% {
    font-size: 30px;
  }

  10% {
    font-size: 32px;
  }

  25% {
    font-size: 34px;
  }

  50% {
    font-size: 38px;
  }

  100%,
  75% {
    font-size: 40px;
  }
}

.button-char {
  padding: 15px 20px;
  border-radius: 50%;
  border-style: none;
}

.mondstat-char-button-slider {
  display: flex;
  padding-left: 18%;
  gap: 20px;
}

.mondstat-char-button-slider a {
  font-family: genshinFont;
  font-weight: 700;
  font-size: medium;
}

.char-img {
  position: absolute;
  top: 0;
  left: -200px;
}

.char-text {
  position: absolute;
  bottom: 0;
  left: -250px;
}

.mySlide-responsive {
  display: none;
  animation: char-animation;
  animation-duration: 0.5s;
}

.main-page-content-responsive {
  display: none;
  margin-bottom: 20px;
}

.mondstat-char-responsive {
  display: flex;
}

.mondstat-char-and-text {
  position: relative;
}

.liyue-header-page {
  background-image: url("https://github.com/lefren/hci/blob/main/liyue-bg-1.jpg?raw=true");
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-position: cover;
  background-size: cover;
  /* overflow: hidden; */
  /* height: 100vh; */
  width: 100%;
}

.nonactive.liyue {
  padding-top: 0;
}

.nonactive.liyue-1,
.liyue-bar {
  padding-top: 40px;
}

footer {
  background-image: url(https://github.com/lefren/hci/blob/main/footer-bg-1.png?raw=true);
}

.icon {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding-top: 30px;
  border-radius: 50%;
}

.icon i {
  color: #fff;
  font-size: 30px;
}

.icon i:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.logo-footer {
  display: flex;
  padding-top: 50px;
  justify-content: center;
}

.logo-footer img {
  width: 15%;
}

.privacy ul {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  gap: 20px;
}

.privacy ul li a {
  color: #fff;
}

.privacy ul li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hoyoverse {
  width: 30%;
}

.logo-footer-2 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  gap: 50px;
}

.footer-copyright p,
.footer-text p {
  color: #fff;
  text-align: center;
  margin: 20px 20px 0 20px;
}

.dropdown-menu {
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  overflow: hidden;
  display: none;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 2;
}

.dropdown-menu li {
  list-style: none;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu a {
  color: #fff;
}

.active-nav,
.dropdown-menu li a:hover {
  text-shadow: 0 0 10px azure, 0 0 20px #0ff, 0 0 40px #1e90ff, 0 0 80px #00f;
  will-change: filter, color;
  filter: saturate(60%);
}

.dropdown-menu.open {
  /* display: none; */
  height: 240px;
}



@media (max-width: 1350px) {
  .main-page-header-responsive {
    display: flex;
  }

  .main-page-content,
  .main-page-header,
  .region-nav {
    display: none;
  }

  .main-page-content-responsive {
    display: block;
  }

  .mondstat-char-responsive {
    display: flex;
    height: 85vh;
    max-width: 100vw;
    justify-content: center;
  }

  .mondstat-char-button-slider {
    padding-left: 0;
    justify-content: center;
    padding-top: 10px;
  }
}

@media (max-width: 992px) {
  header {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .menu,
  .register {
    display: none;
  }

  .navbar .toggle-btn {
    display: block;
    padding: 10px;
  }

  .dropdown-menu {
    display: block;
  }

  .navbar-about .toggle-btn {
    display: block;
    padding: 10px;
  }

  .main-page-header-responsive {
    display: flex;
  }

  .main-page-content,
  .main-page-header,
  .region-nav {
    display: none;
  }

  .main-page-content-responsive {
    display: block;
  }

  .mondstat-char-responsive {
    display: flex;
    height: 120vh;
    max-width: 100vw;
    justify-content: center;
  }

  .mondstat-char-button-slider {
    padding-left: 0;
    justify-content: center;
    padding-top: 10px;
  }

  .logo-footer img,
  .logo-footer-2 img {
    width: 30%;
  }

  .hoyoverse {
    object-fit: contain;
  }
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .content img {
    width: 100%;
  }

  .content {
    margin-top: 70px;
  }

  .register-page-container {
    background-size: cover;
    height: 420px;
  }

  .register-page h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr [k] 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0fr 0fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.2fr;
    gap: 1px 0;
    grid-auto-flow: row;
  }

  .a1 {
    grid-area: 2/2/3/4;
  }
}

@media (max-width: 576px) {
  .navbar img {
    width: 7rem;
  }

  .dropdown-content a {
    padding: 10px;
  }

  .dropdown-content {
    min-width: 120px;
  }

  .dropdown-menu {
    left: 2rem;
    width: unset;
  }

  .dropdown-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dropdown img {
    width: 70%;
  }

  .icon i {
    font-size: 20px;
  }

  .privacy ul {
    flex-direction: column;
    align-items: center;
  }

  .content {
    flex-direction: column;
  }

  .content img {
    justify-content: center;
  }

  .mondstat-char-responsive {
    height: 55vh;
  }

  .main-page-header-responsive h1 {
    font-size: 20px;
  }

  .mySlide-responsive {
    display: flex;
    position: relative;
  }

  .char-img img,
  .char-text img {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
    position: absolute;
    left: 100px;
  }

  .char-text img {
    top: 200px;
  }

  .register-page {
    width: 400px;
  }

  .button-register {
    padding-top: 20px;
  }

  .maps-1-header h1 {
    font-size: 30px;
  }

  .maps-1-content p {
    font-size: 20px;
  }

  .logo-footer-2 {
    flex-direction: column;
    align-items: center;
  }

  footer a,
  footer p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}